<div class="indentification_page">

  <div class="indentification_img">
    <%= image_tag ("le-petit-commerce.jpg") %>
  </div>

  <div class= "identication_data">
    <h3>Circuit court</h3>
    <h2>Bienvenu dans le monde du petit commerce !</h2>

    <div class="identication_alt">
      <h5>Deja inscrit?</h5><%= render "devise/shared/links" %>
    </div>

    <div class="identication_button">
      <div class= "radio_button" url="/users" value="user">
         <input type="radio" id="f-option" name="selector" checked>
         <label for="f-option">Personnel</label>

         <div class="check"></div>
      </div>
      <div class= "radio_button" url="/traders" value="trader">
         <input type="radio" id="s-option" name="selector" >
         <label for="s-option">Entreprise</label>

         <div class="check"><div class="inside"></div></div>
      </div>
    </div>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= render "devise/shared/error_messages", resource: resource %>

      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email", class: "device_identification" %>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password(6 characters minimum)", class: "device_identification" %>
      </div>

      <div class="field">
        <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Password confirmation", class: "device_identification" %>
      </div>

      <div class="actions">
        <%= f.submit "Sign up", class: "device_identification", id: "device_action" %>
      </div>
    <% end %>
  </div>
</div>
