<div class="container">
  <% @products.each do |product| %>
      <div class="card-product">
    <%= link_to controller: "products", :class => "photo_product", action: "show",id: product, store_id: product.id do %>
          <div class="show_photo_store">
              <%= cl_image_tag(product.first_product_photo, :width => 250, :height => 200) if product.photo_present? %>
          </div>
          <div class="card-product-infos">
            <h2><%= product.name %></h2>
            <p><%= simple_format(product.presentation) %></p>
          </div>
    <% end %>
          <div class="card-trip-pricing">
            <h2><%= product.price %> € </h2>
            <%= button_to "Ajouter au panier", carts_path(cart: {product_id: product.id, store_id: product.store_id, quantity: 1}), :method => :post, class: "btn btn-success"%>
          </div>
      </div>
  <% end %>
</div>
