<div class="navbar">
  <a href="/">
    <div class="logo" >
      <h4>Circuit Court</h4>
    </div>
  </a>

  <div class="wrap">
    <%= simple_form_for :search, url: root_path, method: :get do |f| %>
        <div class="search">
          <input class="searchTerm" type="text" name="search[query]" placeholder="What are you looking for?"/>
          <button type="submit" class="searchButton">
            <i class="fa fa-search"></i>
          </button>
        </div>
    <% end %>
  </div>

  <div class="nav-links"><a>
    <% if trader_signed_in? %>
      <%= link_to current_trader.email, identification_path %></div>
    <% elsif user_signed_in? %>
      <%= link_to current_user.email, identification_path %></div>
    <% else %>
      <%= link_to "identifiez-vous", identification_path %>
    <% end %></a>
  <div class="nav-links"><a>
    <% if trader_signed_in? %>
      <%= link_to "tableau de bord", dashboard_path %>
    <% else %>
      <%= link_to "Commandes"%>
    <% end %></a>
  </div>

  <div class="nav-links cart"> <a href="/carts">
    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
    </a>
  </div>
</div>
<div class="navbar_2">
   <%= link_to "vetement"%>
   <%= link_to "informatique"%>
   <%= link_to "librairie"%>
   <%= link_to "Cuisine"%>
   <%= link_to "boutique de noel"%>
   <%= link_to "chèques-cadeaux"%>
   <%= link_to "Service Client"%>
</div>
<!-- <div class="navbar_3">

</div> -->



