<div class="container">
  <% @orders.each_with_index do  |store, value| %>
    <div class="cart-store">
      <div class="cart_titel">
        <h2><%= store[1].first.store.name %></h2>
        <h6>Prix</h6>
      </div>
      <% total = 0%>
      <% store[1].each do  |product| %>
      <div class="cart_container">
        <%= cl_image_tag(product.product.photos[0].key, :width => 90, :height => 90) if product.product.photos.present?%>
        <div class="cart-product">
         <p><%= product.product.name %></p>
            <% total += (product.product.price_cents / 100) * product.quantity%>
            <div class="cart_quantity">
              <h6>Qté: <%= product.quantity %></h6>

              <h6>ref: <%= product.product.reference %></h6>

            </div>
        </div>
         <%= product.product.price_cents / 100%> €
      </div>
      <% end %>
      <div class="validation_order_dasboard">
        <!-- <div> -->
          <%= link_to 'commande terminé', validation_order_path(:cart => value), method: :post, remote: true, class: 'btn btn-flat' %>
        <!-- </div> -->
        <h5>Sous-total: <%= total %> €</h5>
      </div>
    </div>
  <% end %>
</div>
