<% if current_trader.store.nil?%>
  <div>
    <%= link_to "crée la boutique", new_store_path %>
  </div>
<% else %>
  <div>
    <%= link_to "mise a jours de la boutique", edit_store_path(@store) %>
  </div>
<% end %>

<% if current_trader.store.nil? ==  false %>
  <div>
    <%= link_to "crée un produit", new_store_product_path(current_trader.store.id) %>
  </div>
  <div>
    <%= link_to "mise a jours des produits", store_path(current_trader.store.id) %>
  </div>
<% end %>

<div>
  <%= link_to "abonnement", billing_path%>
</div>

