<h1>Carts#index</h1>

<% @cart_product.each do  |store| %>
  <% store[1].each do  |product| %>
    <%= product.quantity %>
    <%= product.product.name %>
    <%= product.user.email %>

      <%= simple_form_for [product] do |f| %>
      <%= f.input :quantity, collection: 1..product.product.stock, selected: product.quantity %>
      <% end %>
    <%= link_to "suprimer", cart_path(product.id), :method => :delete %>
  <% end %>
  <%= link_to 'buy',"",:store_id => store[0], :id => "checkout-buy" %>


  <p>aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa</p>
<% end %>
