<div class="new_stores">
  <%= simple_form_for [@store, @product] do |f| %>
    <%= f.error_notification %>

    <%= f.input :name, input_html: { class: 'dasboard_input' } %>

    <%= f.input :presentation, input_html: { class: 'dasboard_input' } %>

    <%= f.input :presentation, input_html: { class: 'dasboard_input' } %>

    <%= f.input :stock , input_html: { class: 'dasboard_input' }%>

    <%= f.input :price , input_html: { class: 'price_input' }%>

    <%= f.input :photos, as: :file, input_html: { multiple: true } %>

    <%= f.button :submit, class: "device_identification update_store" %>
  <% end %>
</div>
