<div class="page_product">
  <div id= "show_photo">
    <div class = "product_photo">
       <% @product.photos.each do |photo| %>
              <%= cl_image_tag(photo.key, :width => 40, :height => 40, :class => "photo_product", :id => photo.id) %>
      <% end %>
    </div>
    <div id = "zoom_photo">
        <%= cl_image_tag(@product.photos.first.key) %>
    </div>
  </div>

  <div class="product_data">
    <%= @product.name %>
    <div class="product_data_presentation">
      <%= simple_format(@product.presentation) %>
    </div>
    <%= simple_format(@product.product_characteristic) %>
    <%= @product.price %>
  </div>

  <div class="product_data_recap">
     <%= @product.price %><br>
     <%= check_stock(@product) %><br>
    <%= simple_form_for @cart do |f| %>
          <%= f.error_notification %>

          <%= f.hidden_field :product_id, value: "#{@product.id}" %>

          <%= f.hidden_field :store_id, value: "#{@product.store.id}" %>

          <%= f.input :quantity, collection: [1, 2, 3, 4, 5], label: "qantiter :", selected: 1 %>

          <%= f.button :submit,'panier', class: "btn-primary btn_prd_data" %>

          <%#= link_to 'Achat', stores_path, :class => 'button' %>
    <% end %>
    <i class="fa fa-lock">Transaction securisée</i>
  </div>
</div>
