<!DOCTYPE html>
<html>
  <head>
    <title>VenteV2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <script src="https://use.fontawesome.com/eb08432f74.js"></script>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/navbar" %>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
