<!DOCTYPE html>
<html>
  <head>
    <%= javascript_include_tag 'https://checkout.stripe.com/checkout.js' %>
    <script src="https://js.stripe.com/v3/"></script>
    <title>VenteV2</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= include_gon(:init => true) %>

    <script src="https://use.fontawesome.com/eb08432f74.js"></script>
    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>
   <!--  <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p> -->
  </body>
</html>
